html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*============================== SPLASH SCREEN ============================== */


.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 6.5em;
    font-weight: 700;
}

/* for button on upper right */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}
.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* side menu */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 400px;
    height: 100%;
    margin-right: -400px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 20px;
    text-indent: 20px;
    line-height: 40px;
    margin-top: 20px;
    color: #999;
}


#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 400px;
    width: 400px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* splash */

.splash {
    display: table; /*cool*/
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.github_image {
  margin: auto;
  width: 80%;
}

.github_image:hover {
  transform: rotate(7deg);
}

/*============================== CONSTANT NAVBAR ============================== */

/* ******** Nav **********/

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}

.navbar {
  opacity: 0.7;
  background-color: #e4e6e5;
  border-bottom: 0 none;
  transition: .25s all linear;
}

.nav>li>a {
  background-color: #e4e6e5;
  color: #5f5f5f;
  font-family: "Titillium Web", sans-serif; /*need the file for this font*/
  font-weight: 600;
  padding-top: 15px;
}

.nav>li>a:hover {
  background-color: #e4e6e5;
}

.nav>li>a:hover {
  color: red;
}

.nav {
  width: 80%;
  margin: auto;
}

/* ******** Body **********/

.non_nav {
  padding-top: 65px;
  width: 95%;
  margin: auto;
}

.content {
  margin: 10px;
/*  border: 1px solid red;
*/}

/*============================== PROFILE VIEW ============================== */

/* ******** User Information **********/

.user_information {
  margin-top: 20px;
  text-align: center;
  border-right: 1px solid gray;
}

.user_information .profile_picture {
  height: 250px;
  width: 250px;
  margin: auto;
}

/* ******** Team Information **********/

.team_information {
  text-align: center;
}

.team_information .team_picture {
  margin-top: 20px;
  height: 170px;
  width: 170px;
}

.team_stats {
  margin-top: 20px;
}

/* ******** Team Chat **********/

.team_chat_wrapper {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title_box {
    background-color: black;
    padding:10px;
    border-radius: 5px;
}
.title_box label{
  text-align: center;
  color: white;
}

.team_chat_wrapper {
    padding:10px;
}

/*comment spot*/
.team_chat_wrapper .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}

/*submit button */
.team_chat_wrapper .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}

.actionBox .form-group * {
    width:100%;
}

.commentList {
    padding: 0px;
    list-style:none;
}

.commentList li {
    margin: 0px;
    margin-top:10px;
}

.commentList li > div {
    display:table-cell;
}

.commenterImage {
    /*width:30px;
    height: 30px;*/
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.commentText p {
    margin: 0px;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.actionBox {
    padding:10px;
}

/* ******** No Team **********/
.no_team {
  text-align: center;
}

.no_team_content {
  background-color: #bdc3c7;
  margin: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}



/*============================== CURRENT MATCH ============================== */

.current_match_header {
  text-align: center;
  margin-bottom: 30px;
}

.team_show{
  text-align: center;
  padding: 0px;
}

.team_player {
  padding: 0px;
}

.team_match_image {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.team_a {
  color: #16a085;
}
.team_a img {
  border: 4px solid #16a085;
}

.team_b {
  color: #e74c3c;
}
.team_b img {
  border: 4px solid #e74c3c;
}
/*============================== TEAMS PAGE ============================== */

/*============================== ABOUT PAGE ============================== */